

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}

body{
 
    font-family: 'Poppins','sans-serif';
    color:var(--primary-text-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family:'Roboto','sans-serif';
    font-size: 1.25rem;
    color:var(--secondary-text-color);
    line-height: 1.8rem;
    font-family: 'Courier New', Courier, monospace;
}

a{
    font-weight: 800;
    text-decoration: none;
    display: inline-block;
}
/* <!-- utility class already defined classokay --> */

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.flex{
    display: flex;
    align-items: center;
     
    
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}

.top-banner{
    background-color: #4fb2d4;
    background-image: url(header.png);
    background-size: 300px;
}
 
ul{
    list-style: none;
}
.company-logo img{
     width: 250px;
}

.main-nav{
    margin-top: 20px;
    justify-content: space-between;
    position: relative;
 }

.nav-links {
    flex-basis: 730px;
}
.nav-links ul{
    justify-content: end;
    gap: 40px;

}
.nav-toggle{
    display: none;
}

.hover-link{
  color:var(--primary-text-color);
  transition: 0.5s ease-out;
}

.hover-link:hover{
    color:var(--accent-color-dark);
}
.primary-btn{
     background-color: var(--accent-color-dark);
     border-radius: 5px;
     /* font-weight: 700; */
     color: white !important;
     padding: 12px 24px;
     box-shadow: 0 0 2px var(--secondary-text-color);
     transition: 0.2s ease-out;
     text-align: center;
}
 .primary-btn:hover
 {
 background-color:rgb(62, 62, 117);
 }

 .secondary-btn{
     border: 0.5px solid var(--secondary-text-color);
     border-radius: 6px;
     font-weight: 700;
     color: var(--primary-text-color) !important;
     padding: 12px 24px;
     transition: 0.2s ease-out;
 }

 .secondary-btn:hover
 {
 /* border-color: var(--accent-color-dark); */
 background-color: rgb(137, 180, 221); 
 
 }

 /* header section */

 header{
    padding: 50px var(--padding-inline-section);

 }

 .header-section{
    justify-content: center;
    gap: 50px;
 }

 .header-right img{
     width:100%;
 }

 .header-left{
    max-width: 40vw;
 }
 .header-left h1{
    margin-top: 20px;
 }
 .get-started-btn{
     margin: 20px;
 }

 .companies-header{
    text-align: center;
    margin-block: 30px;
    color:var(--primary-text-color);
 }
 
 .logos{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
   
 }
 .logo{
    height: 60px;
    
 }
.features-section{
    padding: 80px var(--padding-inline-section);
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
 .features-header{

    text-align: center;
 }

 .features-header h2{
    margin-bottom: 20px;
 }
 .thin{
    font-weight: bold;
 }
 .features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
 }

 .features-area
 {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
 }

 .big-feature-section{
     padding: 30px var(--padding-inline-section);

 }
 .big-feature-container{
    gap: 30px;
 }
 #second-big-feature{
 flex-direction: row-reverse;

 }
 .feature-img img{
    width: 100%;
 }
  .feature-desc{
    flex-direction: column;
    align-items: flex-start;

  }

  .examples-header{
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
   /* images on box okk */
  .examples-card{
    width: 23%;
    position: relative;
    height: 300px;
    background-color: black;
    background-image:url(software.jpg);
    background-size: cover;
    transition: 0.5s ease-out;
  }
 .page{

    background-image:url(pages.jpg);
    background-size: cover;
 }

 .audience{
  
    background-image:url(audience.png);
    background-size: cover;
 }

 .visitor{
  
    background-image:url(visitor.jpg);
    background-size: cover;
 }
  .examples-card:hover{

  }
  .card-text{
    position: absolute;
     bottom: 20px;
     left: 20px;
     right: 20px;
     color: black;
  }
  qq


  .examples-section{
    padding: 80px var(--padding-inline-section);

  }
.examples-area{
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}
.examples-card:hover{
     box-shadow: 0 0 20px #888;
}
.cta-section-container{
    flex-direction: column;
    gap: 30px;
    color: white;
    text-align: center;
}
.cta-section{
    background-color: #183b54;
    padding: 120px var(--padding-inline-section)80px;
}
.cta-section-container p{
    color: white;
    margin-top: 20px;
}

/* footer section */
footer{
    padding-block: 80px;
    background-color: #ebf2fa;
}

.link-column{
    flex-direction: column;
    align-items: flex-start; 
    gap: 20px;

}

.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}

.subfooter{
    background-color: #b9c3d4;
    padding: var(--padding-inline-section);
}
.sub-footer-container{
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}
.shivam{
    color: red;
}

